appdirs
asgiref
astroid
black
certifi
cffi
chardet
class-registry
click
coreapi
coreschema
cryptography
defusedxml
dj-rest-auth
Django
django-crispy-forms
django-filter
django-rest-auth
django-rest-framework
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
filters
idna
isort
itypes
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
mypy-extensions
oauthlib
pathspec
Pillow
pycparser
PyJWT
pylint
python-dateutil
python3-openid
pytz
regex
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
toml
typed-ast
typing-extensions
uritemplate
urllib3
wrapt
gunicorn
