{% load static %}
<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'vms:home' %}">VMS LOGO</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% if request.user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'vms:home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vms:visitor' %}">Visitors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{% url 'vms:employee_detail' %}">Employee</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'vms:settings' %}" class="nav-link">Settings</a>
        </li>
        {% endif %}
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0" style="margin-right: 10px;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      <span class="hello-msg">Hello, {{request.user}}  </span>
      <span><a href="{% url 'vms:logout' %}">Logout</a></span>
      
    </div>
</nav>